/* div {
  border: 2px solid purple;
} */

h1,h2,h3,h4{
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  color: #914F1E; /* กำหนดสีตัวอักษรเป็น #914F1E */
}

.brown-text {
      color: #914F1E; /* ทำให้ตัวอักษรในคลาสนี้เป็นสีขาว */
      padding-top: 150px;
}

.line-top-divider {
  position: relative;
  padding: 10px 0;
}

.line-top-divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;                    /* เว้นด้านซ้าย */
  right: 10px;                   /* เว้นด้านขวา */
  height: 10px;
  background-color: #ccc;       /* สีของเส้น */
}


.white-text {
      color: #ffffff; /* ทำให้ตัวอักษรในคลาสนี้เป็นสีขาว */
}

p{
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}

.font-p{
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  color: #914F1E
}

.font-ul{
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

* ตั้งค่าความห่างระหว่างข้อความใน container */
.container p, .container ul {
  line-height: 1.8; /* เพิ่มระยะห่างระหว่างบรรทัด */
}

/* ทำให้หัวข้อ h2 มีการเน้น */
h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #914F1E;
}

/* ทำให้ iframe ใน YouTube responsive */
iframe {
  width: 100%;
  height: 315px; /* ความสูงของ iframe */
}

/* สไตล์สำหรับ navbar */
.navbar {
  background-color: #914F1E; /* สีพื้นหลังของ navbar */
}

.navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
  color: #F7DCB9 !important; /* สีเมื่อเมาส์ไปอยู่ที่ลิงก์ */
}

.navbar-brand img {
  max-width: 50px;
}

.background{
background: #F7DCB9;
background: linear-gradient(1deg, rgba(247, 220, 185, 1) 0%, rgba(253, 187, 45, 1) 100%);

}

body {
      background-color: #F7DCB9;
    }

/* body {
      background-color: #F9F5F0;
    } */
   
 

/* gray-background {
      background-color: #eeeeec;
    } */
/* .shadow-right {
    box-shadow: 8px 0 10px rgba(0, 0, 0, 0.2);
  } */

